.chart-title{
    margin-left: 10px;
}
.chart-subtitle{
    color: #90713c;;
}
.chart-nav-container {   
    display: flex;
    overflow: hidden;
    padding-left:4%;
}
.chart-container{
    display: inline-block;
    width: 100%;
}
.button-container{
    align-items: right;
    text-align: right;
    margin-top: 2%;
}